snippet fig "Hugo Markdown figure"
\{\{< figure src="$1"
    caption="$2">}}
$0
endsnippet

snippet figl "Hugo Markdown figure"
\{\{< figure src="$1"
    caption="$2"
    link="$3"
    target="_blank">}}
$0
endsnippet
